<ion-content>
  <div class="image-container"></div>
  <div class="center-buttons">
    <br>    
    <ion-item>
      <ion-input type="text" placeholder="E-mail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Contraseña"></ion-input>
      <ion-icon slot="end" name="eye"></ion-icon>
    </ion-item>
    <p class="text-right">¿Olvidaste tu contraseña?</p>
    <button class="primary-button middle-button" (click)="registrar()">Empezar</button>
    <br><br>
    <p class="text-center">¿No tienes una cuenta aún?</p>
    <p class="text-center p-registro" (click)="crearCuenta()">Regístrate</p>
  </div>
</ion-content>