.center-buttons{    
    height: 65vh;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.image-container{
    width: 100vw;
    height: 35vh;
    background-color: var(--ion-color-primary);
}

.p-registro{
    color: var(--ion-color-primary);
    font-weight: bolder;
    font-size: calc(0.9em + 1vw);
}

ion-icon{
    font-size: calc(1.5em + 1vw);    
}

